<% 
    groupsHelper = ( groups) => {
        console.log(groups);
        <!-- let xhtmlGroups = '';
        let link       = systemConfig.prefixAdmin + '/' + collection + '/ajax/groups' ;
        if(groups === "yes") {
            xhtmlGroups = 'btn-success';
        }else if (groups === "no") {
            xhtmlGroups = 'btn-warning';
        }
        return `<a href="javascript:void(0)" class="rounded-circle btn btn-sm ${xhtmlGroups} groups" onClick="handleAjax('${linkAjax}','groups','${id}',this)" data-value="${groups}"><i class="fas fa-check"></i></a>`; -->
    }
%>




