<% 
  selectMenu = (
    listMenu,
    currentMenu,
    page,
    error = null,
    link = null,
    idArticles = null,
    field = 'categoriesId'
  ) => {
    optionMenu = (listMenu, parentId = 0, str = '') => {
      let xhtml = '';

      listMenu.forEach((item,index)=> {
        let selected = item.id == currentMenu ? 'selected' : '';
        if(parentId == item.parentId) { 
          xhtml += `<option value="${item._id}" ${selected}>${str + item.name}</option>`;
          xhtml += optionMenu(listMenu,item.id,str += '- - ');
          str = ''
        }
      }) 
      return xhtml;
    }

    let xhtml = `<select class="custom-select custom-select-sm ${error && 'is-invalid'}" name="${field}" onChange="handleAjax('${link}','categoriesId','${idArticles}',this)">`;
    xhtml += page == 'form' ? 
    '<option value="novalue">Choose Menu</option><option value="0">----- Root -----</option>' : '';
    xhtml += optionMenu(listMenu)
    xhtml += `</select><span class="error invalid-feedback">${error}</span>`
    return xhtml;
  }
  
%>